@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Handlee', cursive; */

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

:root{
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuente2: 'Handlee', cursive;
    --color1: #fa573a;
    --color2: #21242e;
    --margingrid: 1em;
    --fontsize: 1em; /*asi el diseño se adaptara al font-size del usuario*/
    --anchomaximo: 1100px;
}

body{
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}

.container{
    max-width: var(--anchomaximo);
    margin: 0 auto;
}



/* inicio del header */

header .nav-top{
    background-color: var(--color2);
    padding: var(--margingrid) 0px;
}

header .nav-top .container{
    display: flex;
    justify-content: space-around;
}

header .nav-top a{
    color: var(--color1);
    text-decoration: none;
}

header .nav-top a span{
    display: none;
}

header .nav-top a i{
    font-size: 150%;
}

/* fin header */


/* mediaquerys */

@media(min-width: 768px) {
    header .nav-top a span{
        display: inline;
        color: white;
    }

    header .nav-top a i{
        font-size: 120%;
    }
}
